{% extends 'base.html' %}

{% block content %}
<h2><i class="fas fa-fw fa-flask"></i> OxCals</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Oxcal #</th>
      <th scope="col">Run</th>
      <th scope="col"># of Device Cals</th>
      <th scope="col">Wavelength</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for oxcal in oxcals %}
    <tr>
      <td> <a href="{{ url_for('oxcal.view_oxcal', cal_num=oxcals[oxcal]['cal_num']) }}">{{ oxcals[oxcal]['cal_num'] }}</a></td>
      <td>{{ oxcals[oxcal]['run'] }}</td>
      <td>{{ oxcals[oxcal]['devices']|length }}</td>
      <td>{{ oxcals[oxcal]['wavelength'] }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}