{% extends 'base.html' %}

{% block content %}
<h2>OxCal {{ page_data['cal_num'] }}<span id="heading-device"></span></h2>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('oxcal.index') }}">OxCal List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Oxcal {{ page_data['cal_num'] }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-3">

    <select id="oxcal-device-select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Choose a Device</option>
    </select>

  </div>
  <div class="col-9">

    <div id="device-buttons" class="d-inline">
      <a href="javascript:void(0)" id="prev" class="btn btn-lg btn-secondary"><i class="fas fa-arrow-left"></i></a>
      <a href="javascript:void(0)" id="next" class="btn btn-lg btn-secondary"><i class="fas fa-arrow-right"></i></a>
    </div>

  </div>
</div>

<!-- table data and images -->
<div class="row" id="oxcal-data"></div>

<!-- Edit modal -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="oxcalEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="oxcalEditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="oxcalEditLabel"><i class="fas fa-fw fa-edit text-warning"></i> Edit OxCal Row</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit-oxcal-form">

          <input id="row_id" name="row_id" type="hidden" value="">

          <div class="form-group">
            <label for="cal_num">Oxcal</label>
            <input type="text" class="form-control" id="cal_num" name="cal_num" value="" disabled>
          </div>
          <div class="form-group">
            <label for="run">Run</label>
            <input type="text" class="form-control" id="run" name="run" value="">
          </div>
          <div class="form-group">
            <label for="device">Device</label>
            <input type="text" class="form-control" id="device" name="device" value="" disabled>
          </div>
          <div class="form-group">
            <label for="pump">Pump</label>
            <input type="text" class="form-control" id="pump_wl" name="pump_wl" value="" disabled>
          </div>
          <div class="form-group">
            <label for="pump">Pump Current</label>
            <input type="text" class="form-control" id="pump_current" name="pump_current" value="" disabled>
          </div>
          <div class="form-group">
            <label for="wavelength">Wavelength</label>
            <input type="text" class="form-control" id="wavelength" name="wavelength" value="" disabled>
          </div>
          <div class="form-group">
            <label for="lcr_high">LCR High</label>
            <input type="text" class="form-control" id="lcr_high" name="lcr_high" value="" disabled>
          </div>
          <div class="form-group">
            <label for="lcr_low">LCR Low</label>
            <input type="text" class="form-control" id="lcr_low" name="lcr_low" value="" disabled>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" name="status" value="" disabled>
          </div>
          <div class="form-group">
            <label for="comments" class="">Comments</label>
            <textarea class="form-control" rows="2" id="comments" name="comments"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" id="archive-oxcal-link" data-oxcal-row-id="" data-oxcal-cal-num="" data-oxcal-device="" class="text-danger me-auto"><i class="fas fa-archive"></i></a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="javascript:void(0)" class="btn btn-primary" id="update-oxcal">Update</a>
      </div>
    </div>
  </div>
</div>

<!-- Analysis Modal -->
<div class="modal fade" id="analysisModal" tabindex="-1" aria-labelledby="analysisModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="analysisModalLabel"><i class="fas fa-fw fa-poll text-info"></i> Analysis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="analysis-text" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Toast -->
<div class="toast-container position-absolute bottom-0 end-0 p-3">
  <div class="toast" id="alert-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto text-success">Success!</strong>
      <small>Just Now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="alert-msg" class="toast-body">
      See? Just like this.
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
  //global variables
  const calNum = {{ page_data['cal_num'] }}
  let oxcalData = null
  const headingDevice = document.getElementById('heading-device')
  const deviceSelect = document.getElementById('oxcal-device-select')
  const oxcalDataDiv = document.getElementById('oxcal-data')
  const arrows = [
  document.getElementById('prev'),
  document.getElementById('next')
  ]
  const editModal = new bootstrap.Modal(document.getElementById('oxcalEditModal'))
  const editForm = document.getElementById('edit-oxcal-form')
  const analysisModal = new bootstrap.Modal(document.getElementById('analysisModal'))
  const analysisText = document.getElementById('analysis-text')
  const submitEditBtn = document.getElementById("update-oxcal")
  const archiveOxcalLink = document.getElementById('archive-oxcal-link')
  const alertToast = new bootstrap.Toast(document.getElementById("alert-toast"))
  const alertMsg = document.getElementById('alert-msg')

  const imgURLBase = "{{url_for('oxcal.index')}}"

  const deviceTableHTMLTop = '<div class="col-12">'
                          + '<div class="table-responsive">' 
                            + '<table class="table table-striped mb-1">'
                              + '<thead>'
                                + '<tr>'
                                  + '<th scope="col">Oxcal</th>'
                                  + '<th scope="col">Run</th>'
                                  + '<th scope="col">Device</th>'
                                  + '<th scope="col">Pump</th>'
                                  + '<th scope="col">Pump Curr</th>'
                                  + '<th scope="col">Wavelength</th>'
                                  + '<th scope="col">LCR High</th>'
                                  + '<th scope="col">LCR Low</th>'
                                  + '<th scope="col">Status</th>'
                                  + '<th scope="col">Comments</th>'
                                  + '<th scope="col">User</th>'
                                  + '<th scope="col">Timestamp</th>'
                                  + '<th scope="col">Actions</th>'
                                + '</tr>'
                              + '</thead>'
                              + '<tbody>'
                                + '<tr>'
  const deviceTableHTMLBottom = '</tr>'
                              + '</tbody>'
                            + '</table>'
                          + '</div>'
                        + '</div>'
  
  const deviceImageHTMLTop = '<div class="col-6">' 

  const deviceImageHTMLBottom= '</div>'

                                  
  //on window load get oxcal data and setup page elements
  window.addEventListener('load', function () {
    oxcalDataSetup(calNum)

    //bind listener events to buttons
    bindArrowKeyNav()
    
  })

  /*** get data and bind listeners ***/
  async function oxcalDataSetup(calNum){
    //get devices & data for the oxcal
    let devices = await getOxcalDataDevices(calNum)
    oxcalData = await getOxcalData(calNum)

    console.log(oxcalData)
    //fill select with options
    devices.forEach(device => {
      let option = document.createElement("option");
      option.text = device
      option.value = device
      deviceSelect.add(option)
    })

    //bind listener events to dropdown, modal form
    bindDeviceSelect(oxcalData, devices)
    submitOxcalEdits()
    bindArchiveOxcalLink()
  }

  //archive button click function
  function bindArchiveOxcalLink(){
    archiveOxcalLink.addEventListener('click', async e => {
      let oxcalRowId = e.currentTarget.getAttribute('data-oxcal-row-id')
      let oxcalCalNum = e.currentTarget.getAttribute('data-oxcal-cal-num')
      let oxcalDevice = e.currentTarget.getAttribute('data-oxcal-device')
      
      if (confirm('You are about to archive this data row for OxCal' + oxcalCalNum +' ' + oxcalDevice + '! Are you sure?')) {
        //update the flag to read 1, corresponding to archived data
        resp = await updateOxcalFlag(oxcalRowId, oxcalCalNum, 1)

        if (resp["id"]) {
          //get updated oxcal data for page
          oxcalData = await getOxcalData(calNum)
          //fire change event on existing device
          const selectEvent = new CustomEvent("change", {
            detail: {
              reload: true
            }
          })
          deviceSelect.dispatchEvent(selectEvent)
          //close the modal
          editModal.hide()
          //update and display toast alert
          alertMsg.innerHTML = 'Oxcal Archived!'
          alertToast.show()
          setTimeout(()=>{alertToast.hide()}, 2500)

        }

      } else {
        return false
      }
      
    })
  }

  //function for on select change
  function bindDeviceSelect(oxcalData, devices){
    deviceSelect.addEventListener('change', async (e) =>{

      //get data for the oxcal in the event the data has changed
      if(e.detail && e.detail.reload == true){
        oxcalData = await getOxcalData(calNum)
      }

      let selectedDevice = deviceSelect.options[deviceSelect.selectedIndex].text

      //clear contents
      headingDevice.textContent = ""
      oxcalDataDiv.innerHTML = ""

      if (selectedDevice != 'Choose a Device') {

        //set the heading on the page
        headingDevice.textContent = " - "+ selectedDevice

        //set counter for accessing rows in device object
        let rowCount = 0
        let archiveCount = 0

        oxcalData[selectedDevice].rows.forEach(row => {

          //display non-archived data only
          if (row.flag == 0) {
            //build data row
            let deviceRowHTML = ""
            let deviceImageHTML = ""
            
            //build data row
            deviceRowHTML += deviceTableHTMLTop
            deviceRowHTML += '<td>' + row.cal_num + '</td>'
                            + '<td>' + row.run + '</td>'
                            + '<td><strong>' + row.device + '</strong></td>'
                            + '<td>' + row.pump_wl + '</td>'
                            + '<td>' + row.pump_current + '</td>'
                            + '<td>' + row.wavelength + '</td>'
                            + '<td>' + row.lcr_high + '</td>'
                            + '<td>' + row.lcr_low + '</td>'
                            + '<td>' + row.status + '</td>'
                            + '<td>' + row.comments + '</td>'
                            + '<td>' + row.user + '</td>'
                            + '<td>' + row.unix_timestamp + '</td>' 
                            + '<td><a href="javascript:void(0)" class="oxcal-device-edit" data-device=' + row.device + ' data-device-row=' + rowCount + '><i class="fas fa-fw fa-edit"></i></a></td>' 
            deviceRowHTML += deviceTableHTMLBottom
            //check for analysis and add it if available.
            if(row.analysis){
              deviceRowHTML += '<div class="col-12">'
                              + '<a href="javascript:void(0)" class="analysis-modal-link btn btn-sm btn-outline-primary me-2 mb-1 mt-0 pt-0" data-device=' + row.device + ' data-device-row=' + rowCount + '>Analysis</a>'
                              + '<strong>Percent Difference (low - high): </strong>'
                              + row.analysis.percent_diff
                            + '</div>'
            }

            //build images
            deviceImageHTML += deviceImageHTMLTop
            deviceImageHTML += '<figure class="figure">'
                              + '<img src="' + imgURLBase + 'send_file/' 
                                            + row.cal_num + '/'
                                            + row.device + '/'
                                            + 'high' + '/'
                                            + row.status + '/'
                                            + row.unix_timestamp
                                            + '" class="figure-img img-fluid rounded" alt="...">'
                              + '<figcaption class="figure-caption">High</figcaption>'
                            + '</figure>'
            deviceImageHTML += deviceImageHTMLBottom
            deviceImageHTML += deviceImageHTMLTop
            deviceImageHTML += '<figure class="figure">'
                              + '<img src="' + imgURLBase + 'send_file/' 
                                            + row.cal_num + '/'
                                            + row.device + '/'
                                            + 'low' + '/'
                                            + row.status + '/'
                                            + row.unix_timestamp
                                            + '" class="figure-img img-fluid rounded" alt="...">'
                              + '<figcaption class="figure-caption">Low</figcaption>'
                            + '</figure>'
            deviceImageHTML += deviceImageHTMLBottom
            
            //append to page
            oxcalDataDiv.innerHTML += deviceRowHTML + deviceImageHTML

            //advance rowCount
            rowCount++
          }
          //count archived rows
          if (row.flag == 1) {
            archiveCount++
          }

        })

        //add archived device count to bottom of page
        if (archiveCount > 0) {
          oxcalDataDiv.innerHTML += "<p><strong>" + archiveCount + "</strong> archived rows</p>"
        }

        //bind event listener to newly created edit links
        document.querySelectorAll('.oxcal-device-edit').forEach(item => {
          item.addEventListener('click', e => {
            //get the js Object row number for clicked data
            rowNum = item.getAttribute("data-device-row")
            //pass to edit modal
            fillShowEditOxcalModal(oxcalData[selectedDevice].rows[rowNum])
          })
        })

        //bind event listener to newly created analysis links
        document.querySelectorAll('.analysis-modal-link').forEach(item => {
          item.addEventListener('click', e => {
            //get the js Object row number for clicked data
            rowNum = item.getAttribute("data-device-row")
            //pass to analysis modal
            fillShowAnalysisModal(oxcalData[selectedDevice].rows[rowNum].analysis)
          })
        })

      }
    })
  }

  //govern arrow keys
  function bindArrowKeyNav(){
    
    //bind to arrow buttons
    arrows.forEach(arrow => {
      arrow.addEventListener('click', e => {
        let selectLength = document.getElementById("oxcal-device-select").length
        e.preventDefault()
        let changeOccurred = false

        //update select index based on button pressed
        if (e.currentTarget.id == 'next' && deviceSelect.selectedIndex < selectLength-1){
         
          deviceSelect.selectedIndex++
          changeOccurred = true

        } 
        if (e.currentTarget.id == 'prev' && deviceSelect.selectedIndex > 0){

          deviceSelect.selectedIndex--
          changeOccurred = true

        } 
        if (changeOccurred) {
          //trigger onchange event on select element
          const selectEvent = new Event("change")
          deviceSelect.dispatchEvent(selectEvent)
        }
        
      })
    
    })

  }

  //fill and show modal for row edit
  function fillShowEditOxcalModal(rowData){

    //fill the modal form
    editForm.querySelector('input[name="row_id"]').value = rowData.id
    editForm.querySelector('input[name="cal_num"]').value = rowData.cal_num
    editForm.querySelector('input[name="run"]').value = rowData.run
    editForm.querySelector('input[name="device"]').value = rowData.device
    editForm.querySelector('input[name="cal_num"]').value = rowData.cal_num
    editForm.querySelector('input[name="pump_wl"]').value = rowData.pump_wl
    editForm.querySelector('input[name="pump_current"]').value = rowData.pump_current
    editForm.querySelector('input[name="wavelength"]').value = rowData.wavelength
    editForm.querySelector('input[name="lcr_high"]').value = rowData.lcr_high
    editForm.querySelector('input[name="lcr_low"]').value = rowData.lcr_low
    editForm.querySelector('input[name="status"]').value = rowData.status
    editForm.querySelector('textarea[name="comments"]').value = rowData.comments

    //update the archive link
    archiveOxcalLink.setAttribute('data-oxcal-row-id', rowData.id)
    archiveOxcalLink.setAttribute('data-oxcal-cal-num', rowData.cal_num)
    archiveOxcalLink.setAttribute('data-oxcal-device', rowData.device)
    
    //show the modal
    editModal.show()
  }

  //fill and show modal for row edit
  function fillShowAnalysisModal(analysisData){

    //fill the modal form
    analysisText.innerHTML = '<div>'
                              + '<p><strong>Oxcal:</strong> ' + analysisData.cal_num + '</p>'
                            + '</div>'
                            + '<div>'
                              + '<p><strong>Device:</strong> ' + analysisData.device + '</p>'
                            + '</div>'
                            + '<div>'
                              + '<p><strong>Status:</strong> ' + analysisData.status + '</p>'
                            + '</div>'
                            + '<div>'
                              + '<p><strong>Percent Diff:</strong> ' + analysisData.percent_diff + '</p>'
                            + '</div>'
                            + '<div>'
                              + '<p><strong>NIR Long Axis:</strong> ' + analysisData.nir_long_axis + '</p>'
                            + '</div>'
                            + '<div>'
                              + '<p><strong>NIR Short Axis:</strong> ' + analysisData.nir_short_axis + '</p>'
                            + '</div>'
    //show the modal
    analysisModal.show()
  }

  //modal submit code goes here
  function submitOxcalEdits(){
    submitEditBtn.addEventListener('click', async e => {

      //get form data
      let editOxcalFormData = new FormData(editForm);

      //update db
      let resp = await updateOxcalData(editOxcalFormData)
      //update table
      if (resp["id"]) {
        //update oxcal data
        oxcalData = await getOxcalData(calNum)
        //fire change event on existing device
        const selectEvent = new CustomEvent("change", {
          detail: {
            reload: true
          }
        })
        deviceSelect.dispatchEvent(selectEvent)
        //close the modal
        editModal.hide()
        //update and display toast alert
        alertMsg.innerHTML = 'Oxcal Updated!'
        alertToast.show()
        setTimeout(()=>{alertToast.hide()}, 2500)

      }
      
    })

  }

  //api calls
  async function getOxcalData(calNum) {
    let dataParams = new FormData()
    dataParams.append('cal_num', calNum)

    return (await fetch("{{url_for('oxcal.get_oxcal_data_ajax')}}", { method: 'POST', body: dataParams}).catch(handleDataErr)).json()
  }

  async function getOxcalDataDevices(calNum) {
    let dataParams = new FormData()
    dataParams.append('cal_num', calNum)

    return (await fetch("{{url_for('oxcal.get_oxcal_data_devices_ajax')}}", { method: 'POST', body: dataParams}).catch(handleDataErr)).json()
  }

  async function updateOxcalData(rowData){
    //rowData already a FormData() object
    let dataParams = rowData

    return (await fetch("{{url_for('oxcal.update_oxcal_data_ajax')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()

  }

  async function updateOxcalFlag(rowId, calNum, flag){
    let dataParams = new FormData()
    dataParams.append('id', rowId)
    dataParams.append('cal_num', calNum)
    dataParams.append('flag', flag)

    return (await fetch("{{url_for('oxcal.update_oxcal_flag_ajax')}}", { method: 'PUT', body: dataParams}).catch(handleDataErr)).json()

  }

  function handleDataErr(err) {
    console.warn(err)
    let resp = new Response(
      JSON.stringify({
        code: 400,
        message: "Network problem retrieving data"
      })
    )
    return resp
  }

  //******** Utilities ********//
  //detecting arrow key presses
  document.addEventListener('keydown', function(e) {
    let selectLength = document.getElementById("oxcal-device-select").length
    let changeOccurred = false
    switch (e.keyCode) {
        case 37:
          deviceSelect.selectedIndex--
          changeOccurred = true
            break;
        case 39:
          deviceSelect.selectedIndex++
          changeOccurred = true
            break;
    }

    if (changeOccurred) {
      //trigger onchange event on select element
      const selectEvent = new Event("change")
      deviceSelect.dispatchEvent(selectEvent)
    }

  });

</script>
{% endblock %}